h1 {font-family: 'Blaka Hollow', cursive;}
p {font-family: 'Blaka Hollow', cursive;}
h5 {font-family: 'Blaka Hollow', cursive;}
label {font-family: 'Blaka Hollow', cursive;}
h2 {font-family: 'Blaka Hollow', cursive;}
nav{font-family: 'Blaka Hollow', cursive;}
button{font-family: 'Blaka Hollow', cursive;}